@font-face {
    -fx-font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    -fx-font-family: "Quicksand";
    src: url("fonts/Quicksand-Regular.ttf");
}

@font-face {
    -fx-font-family: "Quicksand Bold";
    src: url("fonts/Quicksand-Bold.ttf");
}

@font-face {
    -fx-font-family: "Raleway Italic";
    src: url("fonts/Raleway-Italic.ttf");
}

#root {
    -fx-font-family: 'Quicksand';
}

.mainContainer {
    -fx-background-color: linear-gradient(to top right, #71b48d, #B8E0BE);
    -fx-padding: 10px;
    -fx-label-padding: 10px;
    -fx-text-fill: white;
    -fx-min-width: 300px;
    -fx-spacing: 4px;
}

.h1 {
    -fx-font-size: 32pt;
    -fx-font-family: "Quicksand Bold";
}

.h2 {
    -fx-font-size: 24pt;
    -fx-font-family: "Quicksand Bold";
}

.h3 {
    -fx-font-family: "Quicksand Bold";
    -fx-font-size: 14pt;
    -fx-label-padding: 0 0 10px 0;
}

.h4 {
    -fx-font-family: "Quicksand Bold";
    -fx-font-size: 12pt;
}

.button {
    -fx-font-family: "Quicksand Bold";
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-background-color: #251F47;
    -fx-padding: 8px;
    -fx-pref-width: 200px;
    -fx-max-width: 250px;
}
.button:hover {
    -fx-background-color: #404e7c;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.fa-icon {
    -fx-font-family: 'FontAwesome';
}

.vert-spacer {
    -fx-label-padding: 0 0 20px 0;
    -fx-padding: 6px 0 6px 0;
}

.bubbleNumber {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}

.bubbleTextDark {
    -fx-font-size: 11pt;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-text-fill: white;
    -fx-label-padding: 7px;
    -fx-background-radius: 5px;
}

.fileSelectionBox {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

.errorText {
    -fx-font-size: 11pt;
    -fx-background-color: rgba(255, 0, 0, 0.5);
    -fx-text-fill: white;
    -fx-label-padding: 7px;
    -fx-background-radius: 5px;
}

.iconAndText {
    -fx-spacing: 5px;
}

.numberField {
    -fx-font-family: "Quicksand Bold";
    -fx-font-size: 16pt;
    -fx-pref-columns: 6;
    -fx-text-alignment: center;
}

.spacedCenteredBox {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
    -fx-text-origin: baseline;
}

.prettyTable {
    -fx-font-size: 14pt;
    -fx-min-height: 0px;
    -fx-pref-height: 200px;
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
.prettyTable .column-header {
    -fx-background-color: transparent;

}
.prettyTable .column-header .label {
    -fx-text-fill: white;
}
.prettyTable .column-header-background {
    /*-fx-background-color: linear-gradient(to bottom, #00000055, #00000000);*/
    -fx-background-color: rgba(0,0,0,0.25);
    -fx-background-radius: 10px;
}
.prettyTable .column-header-background .filler {
    -fx-background-color: transparent;
}
.prettyTable:row-selection {
    -fx-text-fill: black;
}
.prettyTable .table-cell {
    -fx-background-color: transparent;
    -fx-padding: 5 0 5 0px;
    -fx-border-width: 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
.prettyTable .table-row-cell:even {
    -fx-background-color: rgba(0,0,0,0.05);
    -fx-background-radius: 15px;
}
.prettyTable .table-row-cell {
    -fx-background-color: transparent;
}
.prettyTable:focused .table-row-cell:selected {
    -fx-background-color: #ffffff55;
    -fx-background-radius: 15px;
}

.stealthTextField {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-padding: 2px;
    -fx-prompt-text-fill: rgba(0,0,0,0.7);
}
